<% content_for :title do %>
  Search Results
<% end %>
<%= render :partial => "search_bar" %>
<!-- begin results -->
<div class="outline fill-lite padded rounded-corners">
	<div class="six_column section">
		<div class="three column">
			<%= render :partial => "shared/buttons_lists" %>
		</div>
		<div class="three column">		
			<div class="text-right padded">
			</div>
		</div>
	</div>
	<% if !@contents.nil? %>
		<div class="six_column section">
			<div class="four column padded">
				<%= pluralize(@contents.total_entries, 'result') %>.
				Sort by: <%= link_to "Title" %> | <%= link_to "Artist" %> | <%= link_to "Pop" %>  | <%= link_to "Country" %> | <%= link_to "Year" %>
			</div>				
			<div class="two column padded text-right">
				<%= will_paginate(@contents) unless @contents.nil? %>
			</div>
		</div>
		<div id="results">
			<%= render @contents %>
		</div>
		<div class="text-right padded">
		<%= will_paginate(@contents) %>
		</div>
	<% else %>
		Couldn't find any content
	<% end %>	
					
</div>
<!-- end results -->
