<ul id="main-menu" class="menu menu-sub">
	<li class="outline-shaded <%= @sub_location == "users" ? "current" : "" %>">
	<%= link_to "User Management", users_path %>
	</li>
	<li class="outline-shaded <%= @sub_location == "catalogs" ? "current" : "" %>">
	<%= link_to "Catalog Management", catalogs_path %>
	</li>
	<li class="outline-shaded <%= @sub_location == "catalogs_upload" ? "current" : "" %>">
	<%= link_to "Catalog Upload", catalogs_upload_path %>
	</li>
	<li class="outline-shaded <%= @sub_location == "invite_new" ? "current" : "" %>">
	<%= link_to "Invite", new_invitation_path %>
	</li>
</ul>